#app {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1em;
}

nav > ul > li > a {
    text-decoration: none;
    color: #2c3e50;
}

.loading {
    position: fixed;
    background-color: rgba(204, 204, 204, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 5em 0;
    
}

.loading__inner {
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
}

.loading__inner img {
    width: 50px;
}

.file-upload {
    margin-top: 20px;
}

.file-upload__row {
    width: 500px;
    margin: 0 auto;
}

.file-upload__row > p {
    display: inline-block;
    width: 200px;
    text-align: left;
}

.file-upload__row > label,
.file-upload__row > select,
.file-upload__row > button {
    background: none;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    width: 150px;
}

.file-upload__row > label {
    display: inline-block;
    width: 115px;
}

.file-upload__row > label > input {
    display: none;
}

.file-upload select > option:first-child {
    display: none;
}

.file-upload__prev > img {
    width: 50%;
}

.color-bar {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.color-bar div {
    height: 100px;
}

@media screen and (max-width: 480px) {
    #app {
        width: 100%;
    }

    header h2 {
        text-align: center;
        margin: 0.5em auto;
    }

    .file-upload__row {
        width: 100%;
    }

    .file-upload__row > p {
        width: 100%;
        text-align: center;
        margin: 0.5em 0;
    }

    .file-upload__prev {
        margin-top: 20px;
    }

    .file-upload__prev > img,
    .color-bar {
        width: 85%;
    }
}
